<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @subject.code %>
</p>
<p>
  <b>Degree:</b>
  <%= @subject.degree %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
